@model UniversityManagementSystem.Models.StudentResult

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@if (ViewBag.Msg != null)
{
    <h4 style="color: green">@ViewBag.Msg</h4>

}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Student Result</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2"><p>Student Reg No:</p></div>
            <div class="col-md-10">
                @Html.DropDownList("RegistrationNumber", null, "select Value", htmlAttributes: new { @class = "control-label col-md-2", id = "registerId" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"><p>Student Name</p></div>
            <div class="col-md-10">
                <input type="text" id="studentName" readonly />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"><p>Email Address</p></div>
            <div class="col-md-10">
                <input type="text" id="studentEmail" readonly />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"><p>Department Name</p></div>
            <div class="col-md-10">
                <input type="text" id="studentDepartment" readonly />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"><p>Select Course</p></div>
            <div class="col-md-10">
                @Html.DropDownList("CourseName", null, htmlAttributes: new { @class = "control-label col-md-2", id = "abc" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"><p>Select Grad</p></div>
            <div class="col-md-10">
                @Html.DropDownList("SelectGradLetter", null, htmlAttributes: new { @class = "control-label col-md-2", id = "dd" })
                @*@Html.DropDownListFor(model => model.SelectGradLetter, (SelectList)ViewBag.CategoryList)*@
                @Html.ValidationMessageFor(model => model.SelectGradLetter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="sendfromdata()" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>
    //var v = $('#abc').val();
    //var c = $('#dd').val();

    $('#registerId').on("change", function () {
        var id = $('#registerId').val();

        $.post("/StudentResult/GetStudentList", { id: id }).success(function (data) {
            console.log(data);
            var obj = data[0];
            $('#studentName').val(obj.StudentName);
            $('#studentEmail').val(obj.StudentEmail);
            $('#studentDepartment').val(obj.Name);

        });
    });



    function sendfromdata() {
        var model = {
            id: 0,
            studentReg: $('#registerId').val(),
            studentName: $('#studentName').val(),
            studentEmail: $('#studentEmail').val(),
            departmentName: $('#studentDepartment').val(),
            selectCourse: $('#abc').val(),
            selectGradLetter: $('#dd').val()
            //courseCredit: $('#courseCredit').val()

        };

        $.ajax({
            type: "POST",
            url: "/StudentResult/Create",
            data: model,
            success: function () { alert("insertion successful"); },
           
        });

        //$.post("/StudentResult/Create", model).done(function (data) {
        //    alert(data);
        //}).fail(function (data) {
        //    alert(data);
        //});
        alert("insertion successful");

        

    }
</script>
