@model IEnumerable<UniversityManagementSystem.ViewModels.SeheduleRoom>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>


        <th>
            <p>Sehedule Information</p>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        
        @*@if (item.CourseCode == item.CourseCode)
        {
            @Html.DisplayFor(model => item.Room)
            @Html.DisplayFor(model => item.SevenDay)
            @Html.DisplayFor(model => item.Start)
            @Html.DisplayFor(model => item.End)
        }
        
        else
        *@    
           
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Room)
                @Html.DisplayFor(model => item.SevenDay)
                @Html.DisplayFor(model => item.Start)
                @Html.DisplayFor(model => item.End)
            </td>
            
        </tr>
         
    }

</table>